# Puerto en el que corre el servidor Node.js
PORT=3002

# URI de conexión a MongoDB (local)
# En Docker usar: mongodb://mongodb:27017/SistemaBancarioDB
MONGODB_URI=mongodb://127.0.0.1:27017/SistemaBancarioDB

# Clave secreta para verificar los JWT emitidos por el auth-service (C#)
# Debe coincidir con JwtSettings__SecretKey del auth-service
JWT_SECRET=coloca_aqui_la_misma_clave_que_usa_el_auth_service
